<div class="background">
</div>

<div class="background-container">
  <div class="banner">
    <h1><%= @list.name.downcase %></h1>
    <%= link_to new_list_bookmark_path(@list) do %>
      <div class="button new">add movie</div>
    <% end %>
      <%= link_to root_path do %>
      <div class="button">back</div>
    <% end %>
  </div>

  <div class="card-container">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="list-card" style="background-image: url(<%=bookmark.movie.poster_url%>); background-size: 200px"%>
        <p><%= bookmark.movie.title %></p>
        <p class="rating">(<%= bookmark.movie.rating %>/10)</p>

        <%= link_to list_bookmark_path(@list, bookmark), method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-remove-link' do %>
          <i class="far fa-times-circle"></i>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
